
.wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

header {
    background: red;
    width: 100%;
    height: 100px;
}

main {
    background: yellow;
    flex: 1;
}

footer {
     background: green;
    height: 100px;
    width: 100%;
}