a {
    text-decoration: none;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    width: 1400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    height: 120px;
    padding: 0 200px;
    box-sizing: border-box;
}

header > div {
    display: flex;
    align-items: center;
}

main {
    flex: 1;
    height: 0; /* prevent flex to shrink if there is no content */
    overflow: auto;
}

footer {
    background: green;
    height: 100px;
    width: 100%;
}

/**
 * Slider
 */
.slider__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    height: 500px;
    overflow: hidden;
}

.slider__container > img {
    position: absolute;
    top: 0;
    height: 100%;
    left: 100%;
    transition: none;
}

.slider__container > img.active {
    transition: left 0.2s linear;
    left: 0;
}

/**
 * Competency
 */
.works__areas {
    display: flex;
    justify-content: space-between;
    padding: 70px 200px;
}

.works__areas .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.works__areas .item .title {
    font-size: 30px;
    margin-bottom: 25px;
}

.works__areas .item .icon {
    margin-bottom: 35px;
}

.works__areas .item .action {
    text-transform: uppercase;
    color: #00b7ff;
    font-size: 16px;
    font-weight: bold;
}

.works__areas .item .description {
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 30px;
}

/**
 * Navigation
 */
.logo__description {
    font-weight: 700;
    font-size: 35px;
    letter-spacing: -4px;
    text-transform: uppercase;
}

.navigation__menu > ul {
    display: flex;
    list-style: none;
}

.menu__item {
    padding: 0 25px;
    border-right: 2px solid grey;
    text-transform: uppercase;
    white-space: nowrap;
}

.menu__item:last-of-type {
    border: none;
}

/**
 * Portfolio
 */
.works__portfolio {
    background: #e2e7ed;
    padding: 55px 190px 90px 190px;
}

.works__portfolio .title {
    font-size: 30px;
    color: #626262;
}

.works__portfolio .pic {
    width: 300px;
    height: 300px;
}

.portfolio_pics {
    display: flex;
}

.works__portfolio .pic .controls {
    width: 100%;
    height: 100%;
}

 /**
  * Search input
  */
.search__input {
   width: 130px;
   height: 30px;
   border: none;
   box-sizing: border-box;
   background: #f1f3f6;
   border: 1px solid transparent;
}

.search__input:focus {
    outline: none;
   border-color: red;
}

.search__input::after {
    content:'';
    width:10px;
    height:10px;
    background: red;
 }